.interface{
    height: 500px;
    width: 100%;
    display: flex;
}
.title-components{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    color: white;
}
.input-box{
    display: flex;
    background-color: white;
    width: 450px;
    height: 45px;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    opacity: 0.4;
}
.input-box input{
    width: 50%;
    height: 85%;
    border: none;
    outline: none;
}