@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
.navbar-body{
    background-color: transparent;
    height: 150px;
    width: 100vmax;
    display: flex;
    align-items: center;
}
.title{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    color: white;
    letter-spacing: 10px;
    font-family: "Karla", sans-serif;

}
.navbar-contents{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 8rem;
    font-size: 20px;
    transition: 0.5s;
    color: white;
}
.home,.map,.contact{
    position: relative;
    height: 40px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.home:hover,.map:hover,.contact:hover{
    box-shadow: 5px 5px 10px black;
    scale: 1.1;
}

