.weather-details{
    width: 770px;
    height: 410px;
   background: transparent;
   display: flex;
   align-items: center;
   color: white;
}
.container1{
    width: 265px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.detail1{
    margin: 10px;
    height: 50%;
    width:95%;
    background-color: red;
    border-radius: 8px;
}